.frame {
  font-size: 1rem;
  position: relative;
  width: 25em;
  height: 25em;
  background: green;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media(max-width: 400px) {
  .frame{
    width: calc(100vw - 2em);
    height: calc(100vw - 2em);
  }
}