.kitten {
  position: relative;
  background: black;
  width: 10em;
  height: 10em;
  border-radius: 50%;
}

.kitten__ear {
  position: absolute;
  top: 50%;
  left: 50%;
}

.kitten__ear-right {
  transform: rotate(40deg);
}

.kitten__ear-left {
  transform: rotate(-40deg);
}

.kitten__ear::before {
  content: '';
  position: absolute;
  width: 4em;
  height: 4em;
  background: black;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  transform: translateX(-50%);
  bottom: 4.5em;
}

.kitten__eyes {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5.5em;
  width: 5.5em;
  height: 1em;
}

.kitten__eye {
  position: relative;
  bottom: 0;
  background: white;
  box-shadow: white 0 0 0 0.2em;
  border: 0.15em solid black;
  width: 1.5em;
  height: 1.25em;
}

.kitten__eye--right {
  background: radial-gradient(circle 1.5em at 30% 60%, black 48%, white 50%);
  border-top-right-radius: 60% 80%;
  border-top-left-radius: 40% 50%;
  border-bottom-left-radius: 30% 50%;
  border-bottom-right-radius: 15% 20%;
}

.kitten__eye--left {
  background: radial-gradient(circle 1.5em at 70% 60%, black 48%, white 50%);
  border-top-left-radius: 60% 80%;
  border-top-right-radius: 40% 50%;
  border-bottom-right-radius: 30% 50%;
  border-bottom-left-radius: 15% 20%;
}

.kitten__eye--right::after {
  content: '';
  position: absolute;
  background: white;
  border-radius: 50%;
  width: 0.4em;
  height: 0.4em;
  top: 15%;
  left: 0;
}

.kitten__eye--left::after {
  content: '';
  position: absolute;
  background: white;
  border-radius: 50%;
  width: 0.4em;
  height: 0.4em;
  top: 15%;
  left: 45%;
}


