.ts {
    --red-sun: rgb(174, 49, 30);
    --yellow-sun: rgb(217, 216, 219);
    --sun-shadow: rgba(226, 184, 120, 0.8);
    --planet: rgb(188, 108, 140);
    --mountain: rgb(144, 84, 156);
    width: 25em;
    height: 25em;
}

.ts__planet {
    position: absolute;
    background: var(--planet);
    border-radius: 50%;
    width: 50em;
    height: 50em;
    top: 16em;
    left: -12.5em;
}

.ts__planet::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 50em;
    height: 50em;
    box-shadow: 0 0 10em 10em rgba(255, 255, 255, 0.3);
    z-index: -1;
}

.ts__mountain {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.ts__mountain__back{
  z-index: -2;
}
.ts__mountain--1 {
    transform: rotate(10deg);
}
.ts__mountain--1_5 {
  transform: rotate(7deg);
}

.ts__mountain--2 {
    transform: rotate(20deg);
}
.ts__mountain--2_5 {
  transform: rotate(18.8deg);
}

.ts__mountain--3 {
    transform: rotate(30deg);
}

.ts__mountain--4 {
    transform: rotate(40deg);
}

.ts__mountain--5 {
    transform: rotate(50deg);
}

.ts__mountain--6 {
  transform: rotate(-10deg);
}

.ts__mountain--7 {
  transform: rotate(-20deg);
}

.ts__mountain--8 {
  transform: rotate(-30deg);
}

.ts__mountain--10 {
  transform: rotate(5deg);
}
.ts__mountain--10_5 {
  transform: rotate(10deg);
}

.ts__mountain--11 {
  transform: rotate(15deg);
}
.ts__mountain--12 {
  transform: rotate(25deg);
}


.ts__mountain--13 {
  transform: rotate(-5deg);
}
.ts__mountain--14 {
  transform: rotate(-15deg);
}
.ts__mountain--15 {
  transform: rotate(-25deg);
}

.ts__mountain::before {
    content: '';
    left: 50%;
    position: absolute;
    /* top: 50%; */
    transform: translate(-50%, -95%);
    border: 4em solid transparent;
    border-bottom-color: var(--mountain);
}

.ts__mountain--1::before {
    width: 1em;
    border-width: 3em;
}
.ts__mountain--1_5::before {
  border-width: 2.5em;
}

.ts__mountain--2::before {
  /*width: 1em;*/
  border-width: 5em;
}
.ts__mountain--2_5::before{
  width: 1em;
  border-width:4.2em;
}

.ts__mountain--10_5::before{
  border-width:5em;
}

.ts__sun--red {
    position: absolute;
    background: var(--red-sun);
    border-radius: 50%;
    width: 9em;
    height: 9em;
    top: -5%;
    left: 13%;
    box-shadow: 0 0 1.5em 1em var(--sun-shadow);
}

.ts__sun--yellow {
    position: absolute;
    background: var(--yellow-sun);
    border-radius: 50%;
    width: 13em;
    height: 13em;
    top: -10%;
    right: 10%;
}

.ts__sun--yellow::before {
    content: '';
    border-radius: 50%;
    position: absolute;
    width: 13em;
    height: 13em;
    box-shadow: 0 0 1.5em 1em var(--sun-shadow);
    z-index: -1;

}
